<div>
  <p><strong><%= comment.user.username %></strong><br>
  <%= comment.content %></p>
  <% if logged_in? && (current_user.authored_this(comment) %>
  <%= link_to 'edit', edit_recipe_comment_path(@recipe, comment) %> 
  <%= link_to 'delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure you want to delete?' } %>
  <% end %>
</div>